<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>데이터베이스 정보</description>
    <param-name>DBName</param-name>
    <param-value>Oracle</param-value>
  </context-param>
  <context-param>
    <description>계정정보</description>
    <param-name>User</param-name>
    <param-value>System</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/error/error404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/error/errornullpointer.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>now</servlet-name>
    <servlet-class>servlet.TimePrint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>now</servlet-name>
    <url-pattern>/aaa/*</url-pattern>
  </servlet-mapping>
</web-app>